#ignore auto save files
*.asv

#ignore pngs
*.png

#ignore matab figs
*.fig

#ignore .sh.bak files
*.sh.bak

#ignore files in the default_results_dir
Default_Results_dir/

#ignore files in the Data Directory
Data/

#ignore the files in the Shape_template_PNGs file
Shape_Template_PNGs/

#ignore the files virtual environment
./test_other_spike_sorters/venv/
ss_env312/

#ignore all the temp things created by running docker containers
kilosort4_output/*
kilosort4_output/
*.json
*.pyc
*.log
./test_other_spike_sorters/*__pycache__*
in_container_sorter_script.py